{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d174058948.js" crossorigin="anonymous"></script>
    <style>
        .hr {

        }
    </style>
    <title>Tasks | {% block title %}HOME{% endblock %}</title>
    <style>
   body {
    background: #E0FFFF url({% static 'images/fon.jpg' %});
   }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {#    <a class="navbar-brand" href="#">Navbar</a>#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            </li>

        </ul>
        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        {% if user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'new_users' %}">New users</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        {% else %}
            <a class="nav-link" href="{% url 'login' %}">Login</a> |
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</nav>
<style>
   h3 {
    text-align: center;
    border: 1px solid white;
    padding: 30px;
    background: red;
   }
  </style>
{% if messages %}
    {% for message in messages %}
        <h3>{% if message.tags %} {% endif %}
            {{ message }}
        </h3>
    {% endfor %}
{% endif %}
<style>
   h6 {
    border: 4px solid #708090;
    padding: 10px;
    background: ;
   }
  </style>
{% block content %}
  {% if user.is_authenticated %}
    {% if not user.is_superuser %}
        {% if user.active == True %}
   <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Tasks List</h1>
      <p class="lead">Add your tasks here</p>
      <a href="{% url 'new_card' %}" class="btn btn-success btn-lg">NEW</a>

    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">New</h4>
          </div>

          <div class="card-body">
            {% for card in card_list %}
              {% if user == card.assigned_to %}
              {% if card.status == 1 %}
              <h6> {{ card.text }} <br>
               <a href="{% url 'card_edit' card.id %}" class="btn btn-outline-info btn-sm">EDIT</a>
              <form action="" method="post">
                        {% csrf_token %} <br>
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class=" btn btn-block btn-success btn-sm" type="submit" name='action' value="next">

                </form>
                  </h6>
                <hr style="border-top: 4px solid #708090"/>{% endif %}
              {% endif %}
        {% endfor %}
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">In progress</h4>
          </div>
          <div class="card-body">
            {% for card in card_list.all %}
            {% if user == card.assigned_to %}
              {% if card.status == 2 %}
              <h6>
                   <form action="" method="post">
                        {% csrf_token %}
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-danger btn-sm" type="submit" name='action' value="back">

                </form>
                  <br>{{ card.text }} <br>
                  <a href="{% url 'card_edit' card.id %}" class="btn btn-outline-info btn-sm">EDIT</a>
              <form action="" method="post"> <br>
                        {% csrf_token %}
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-success btn-sm" type="submit" name='action' value="next">

                </form>
                  </h6>
                <hr style="border-top: 4px solid #708090"/>{% endif %}
              {% endif %}
        {% endfor %}
          </div>
        </div>

                <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">In QA</h4>
          </div>
          <div class="card-body">
            {% for card in card_list.all %}
              {% if card.status == 3 %}
              {% if user == card.assigned_to %}
              <h6>
                   <form action="" method="post">
                        {% csrf_token %}
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-danger btn-sm" type="submit" name='action' value="back">

                </form>
                  <br>{{ card.text }} <br>
                  <a href="{% url 'card_edit' card.id %}" class="btn btn-outline-info btn-sm">EDIT</a>
              <form action="" method="post">
                        {% csrf_token %}<br>
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-success btn-sm" type="submit" name='action' value="next">

                </form>
                  </h6>
                <hr style="border-top: 4px solid #708090"/>{% endif %}
              {% endif %}
        {% endfor %}
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Ready</h4>
          </div>
          <div class="card-body">
            {% for card in card_list.all %}
              {% if card.status == 4 %}
              {% if user == card.assigned_to %}
              <h6>
                   <form action="" method="post">
                        {% csrf_token %}
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-danger btn-sm" type="submit" name='action' value="back">

                </form>
                  <br>{{ card.text }} <br>
                  </h6>
                <hr style="border-top: 4px solid #708090"/>{% endif %}
              {% endif %}
        {% endfor %}
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Done</h4>
          </div>
          <div class="card-body">
            {% for card in card_list.all %}
              {% if card.status == 5 %}
              {% if user == card.assigned_to %}
              <h6>
                   <form action="" method="post">
                        {% csrf_token %}
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-danger btn-sm" type="submit" name='action' value="back">

                </form>
                  <br>{{ card.text }} <br>
                  </h6>

                <hr style="border-top: 4px solid #708090"/>{% endif %}
              {% endif %}
        {% endfor %}
          </div>
        </div>
      </div>
            {% else %}
            <h2 align="center" style="font-size:90px" class="my-0 font-weight-normal">Please wait. Admin should confirm your registration.</h2>
        {% endif %} {% endif %}
      {% else %}
        <h2 align="center" style="font-size:90px" class="my-0 font-weight-normal">Enter into the system</h2>

  {% endif %}

   {% if user.is_superuser %}
   <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Tasks List</h1>
      <p class="lead">Add your tasks here</p>
      <a href="{% url 'new_card' %}" class="btn btn-success btn-lg">NEW</a>

    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">New</h4>
          </div>
          <div class="card-body">
            {% for card in card_list.all %}
              {% if card.status == 1 %}
              <h6> {{ card.assigned_to }}: {{ card.text }} <br>
               <a href="{% url 'card_edit' card.id %}" class="btn btn-outline-info btn-sm">EDIT</a>
               <a href="{% url 'card_delete' card.id %}" class="btn btn-outline-danger btn-sm">DELETE</a>
              <form action="" method="post">
                        {% csrf_token %}<br>
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-success btn-sm" type="submit" name='action' value="next">

                </form>
                  </h6>
                <hr style="border-top: 4px solid #708090"/>{% endif %}
        {% endfor %}
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">In progress</h4>
          </div>
          <div class="card-body">
            {% for card in card_list.all %}
              {% if card.status == 2 %}
              <h6>
                   <form action="" method="post">
                        {% csrf_token %}
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-warning btn-sm" type="submit" name='action' value="back">

                </form>
                  <br>{{ card.assigned_to }}: {{ card.text }} <br>
                  <a href="{% url 'card_edit' card.id %}" class="btn btn-outline-info btn-sm">EDIT</a>
                  <a href="{% url 'card_delete' card.id %}" class="btn btn-outline-danger btn-sm">DELETE</a>
              <form action="" method="post">
                        {% csrf_token %}<br>
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-success btn-sm" type="submit" name='action' value="next">

                </form>
                  </h6>
                <hr style="border-top: 4px solid #708090"/>{% endif %}
              {% endfor %}
          </div>
        </div>
                <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">In QA</h4>
          </div>
          <div class="card-body">
            {% for card in card_list.all %}
              {% if card.status == 3 %}
              <h6>
                   <form action="" method="post">
                        {% csrf_token %}
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-warning btn-sm" type="submit" name='action' value="back">

                </form>
                  <br>{{ card.assigned_to }}: {{ card.text }} <br>
                  <a href="{% url 'card_edit' card.id %}" class="btn btn-outline-info btn-sm">EDIT</a>
                  <a href="{% url 'card_delete' card.id %}" class="btn btn-outline-danger btn-sm">DELETE</a>
              <form action="" method="post">
                        {% csrf_token %}<br>
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-success btn-sm" type="submit" name='action' value="next">

                </form>
                  </h6>
                <hr style="border-top: 4px solid #708090"/>{% endif %}
        {% endfor %}
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Ready</h4>
          </div>
          <div class="card-body">
            {% for card in card_list.all %}
              {% if card.status == 4 %}
              <h6>
                   <form action="" method="post">
                        {% csrf_token %}
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-warning btn-sm" type="submit" name='action' value="back">

                </form>
                  <br>{{ card.assigned_to }}: {{ card.text }} <br>
                  <a href="{% url 'card_edit' card.id %}" class="btn btn-outline-info btn-sm">EDIT</a>
                  <a href="{% url 'card_delete' card.id %}" class="btn btn-outline-danger btn-sm">DELETE</a>
              <form action="" method="post">
                        {% csrf_token %}<br>
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-success btn-sm" type="submit" name='action' value="next">

                </form>
                  </h6>
                <hr style="border-top: 4px solid #708090"/>{% endif %}
        {% endfor %}
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Done</h4>
          </div>
          <div class="card-body">
            {% for card in card_list.all %}
              {% if card.status == 5 %}
              <h6>
                   <form action="" method="post">
                        {% csrf_token %}
                        <input type='hidden' name='card_id' value='{{ card.id }}'>
                        <input class="btn btn-block btn-warning btn-sm" type="submit" name='action' value="back">

                </form>
                  <br>{{ card.assigned_to }}: {{ card.text }} <br>
                     <a href="{% url 'card_edit' card.id %}" class="btn btn-outline-info btn-sm">EDIT</a>
                     <a href="{% url 'card_delete' card.id %}" class="btn btn-outline-danger btn-sm">DELETE</a>
                  </h6>
                <hr style="border-top: 4px solid #708090"/>{% endif %}
        {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
{% block extrajs %}
{% endblock %}
</body>
</html>