{% extends 'cards/base.html' %}

{% block title %}New users{% endblock %}

{% block content%}
    <div>
        {% for user in user_list %}
            {% if user.active == False %}
                <h5>User {{ user.id }}: {{ user.username }} with email {{ user.email }} </h5>
           <td><form action="" method="post">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input class="btn btn-success" type="submit" name="action" value="approve">
                  {% csrf_token %}
            </form></td>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}